# Ignore the Kakadu source code (it's proprietary and can't be checked in)
src/main/docker/kakadu/*

target/
.flattened-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.editorconfig
.checkstyle
src/main/tools/eclipse
src/main/generated
file-uploads/
src/main/docker/configs/logback.xml

# A really large image that's not included in our git repo
src/test/resources/images/21198-zz0019pp86_740667_master.tif
