<configuration>
  <timestamp key="byDay" datePattern="yyyy-MM-dd" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{45}:%X{line} | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/${project.artifactId}-${byDay}.log</file>
    <append>false</append>
    <encoder>
      <pattern>[%level] %logger{45}:%X{line} | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </logger>
  <logger name="io.vertx" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </logger>
  <!-- We handle this exception so don't need it logged as SEVERE -->
  <logger name="io.vertx.core.http.ConnectionPoolTooBusyException" level="OFF" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </logger>
  <logger name="io.swagger" level="WARN" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </logger>
  <logger name="edu.ucla.library.bucketeer" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
