###########################################################################
# GENERAL SETTINGS
###########################################################################

openapi.spec.path = $OPENAPI_SPEC_PATH
http.port = $HTTP_PORT
bucketeer.http.callback = $BUCKETEER_HTTP_CALLBACK

lambda.s3.bucket = $LAMBDA_S3_BUCKET
bucketeer.s3.bucket = $BUCKETEER_S3_BUCKET
bucketeer.s3.access_key = $BUCKETEER_S3_ACCESS_KEY
bucketeer.s3.secret_key = $BUCKETEER_S3_SECRET_KEY
bucketeer.s3.region = $BUCKETEER_S3_REGION
bucketeer.fs.image.mount = $BUCKETEER_FS_IMAGE_MOUNT
bucketeer.fs.image.prefix = $BUCKETEER_FS_IMAGE_PREFIX
bucketeer.fs.csv.mount = $BUCKETEER_FS_CSV_MOUNT
bucketeer.slack.oauth_token = $BUCKETEER_SLACK_OAUTH_TOKEN
bucketeer.slack.error_channel_id = $BUCKETEER_SLACK_ERROR_CHANNEL_ID
bucketeer.slack.channel_id = $BUCKETEER_SLACK_CHANNEL_ID
bucketeer.iiif.url = $BUCKETEER_IIIF_URL
bucketeer.iiif.url.prefix = $BUCKETEER_IIIF_URL_PREFIX
http.max.queue.size = $HTTP_MAX_QUEUE_SIZE
bucketeer.max.source.file.size = $SOURCE_MAX_FILE_SIZE
s3.uploader.instances = $S3_UPLOADER_INSTANCES
s3.uploader.threads = $S3_UPLOADER_THREADS
s3.max.requests = $S3_MAX_REQUESTS
s3.max.retries = $S3_MAX_RETRIES
slack.max.retries = $SLACK_MAX_RETRIES
slack.retry.delay = $SLACK_RETRY_DELAY
fester.url = $FESTER_URL
large.image.url = $LARGE_IMAGE_BUCKETEER
batch.callback.url = $BATCH_CALLBACK_URL
bucketeer.iiif.cache.user = $BUCKETEER_IIIF_CACHE_USER
bucketeer.iiif.cache.password = $BUCKETEER_IIIF_CACHE_PASSWORD
