<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <timestamp key="byDay" datePattern="yyyy-MM-dd" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{0}:%X{line} [%d{yyyy-MM-dd HH:mm:ss.SSS}] | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/bucketeer/bucketeer-${byDay}.log</file>
    <append>false</append>
    <encoder>
      <pattern>[%level] %logger{0}:%X{line} [%d{yyyy-MM-dd HH:mm:ss.SSS}] | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.vertx" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.swagger.v3.parser" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="oshi.hardware.platform" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="oshi.util" level="WARN" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="com.github.seratch.jslack" level="WARN" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="edu.ucla.library.bucketeer" level="${logLevel}" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <!-- WARNING: Using TRACE will expose the AWS S3 access and secret keys in the logs !! -->

  <root level="${logLevel}">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
