<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <timestamp key="byDay" datePattern="yyyy-MM-dd" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{45}:%X{line} | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/${project.artifactId}-${byDay}.log</file>
    <append>false</append>
    <encoder>
      <pattern>[%level] %logger{45}:%X{line} | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILEBATCHJOBSTATUS" class="ch.qos.logback.core.FileAppender">
    <file>target/FileBatchJobStatus.log</file>
    <append>false</append>
    <encoder>
      <pattern>[%level] %logger{45}:%X{line} | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="edu.ucla.library.bucketeer.handlers.BatchJobStatusHandlerTest" level="INFO" additivity="false">
    <appender-ref ref="FILEBATCHJOBSTATUS" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="edu.ucla.library.bucketeer.handlers.BatchJobStatusHandler" level="INFO" additivity="false">
    <appender-ref ref="FILEBATCHJOBSTATUS" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="edu.ucla.library.bucketeer.Job" level="INFO" additivity="false">
    <appender-ref ref="FILEBATCHJOBSTATUS" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="edu.ucla.library.bucketeer.vericles.FinalizeJobVerticle" level="INFO" additivity="false">
    <appender-ref ref="FILEBATCHJOBSTATUS" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.vertx" level="ERROR" additivity="false">
  <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.swagger.v3.parser" level="INFO" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="oshi.hardware.platform" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="oshi.util" level="WARN" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="com.github.seratch.jslack" level="WARN" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="edu.ucla.library.bucketeer" level="${testLogLevel}" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="${testLogLevel}">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
