<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups>
    <pluginGroup>info.freelibrary</pluginGroup>
    <pluginGroup>br.com.ingenieux</pluginGroup>
  </pluginGroups>
  <servers>
    <server>
      <id>sonatype-nexus-snapshots</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
    <server>
      <id>sonatype-nexus-staging</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>default-profile</id>
      <activation>
        <property>
          <name>!skipDefaultProfile</name>
        </property>
      </activation>
      <properties>
        <dev.tools>JDWP_AGENTLIB JMX_REMOTE</dev.tools>
        <gpg.executable>gpg</gpg.executable>
        <gpg.keyname>${env.BUILD_KEYNAME}</gpg.keyname>
        <gpg.passphrase>${env.BUILD_PASSPHRASE}</gpg.passphrase>

        <!-- HINT: the oauth token should begin with 'xoxb' -->
        <!-- HINT: slack.error_channel_id should probably be the same as slack.test_channel_id -->
        <!-- HINT: slack.test_user_handle should probably be YOUR slack handle -->
        <!--<![CDATA[
        <http.port></http.port>
        <bucketeer.s3.bucket></bucketeer.s3.bucket>
        <bucketeer.s3.access_key></bucketeer.s3.access_key>
        <bucketeer.s3.secret_key></bucketeer.s3.secret_key>
        <bucketeer.s3.region></bucketeer.s3.region>
        <bucketeer.slack.test_user_handle></bucketeer.slack.test_user_handle>
        <bucketeer.slack.verification_token></bucketeer.slack.verification_token>
        <bucketeer.slack.oauth_token></bucketeer.slack.oauth_token>
        <bucketeer.slack.test_webhook_url></bucketeer.slack.test_webhook_url>
        <bucketeer.slack.test_channel_id></bucketeer.slack.test_channel_id>
        <bucketeer.slack.webhook_url></bucketeer.slack.webhook_url>
        <bucketeer.slack.channel_id></bucketeer.slack.channel_id>
        <bucketeer.slack.error_webhook_url></bucketeer.slack.error_webhook_url>
        <bucketeer.slack.error_channel_id></bucketeer.slack.error_channel_id>
        ]]>-->
      </properties>
    </profile>
  </profiles>
</settings>
